In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [59]:
heart = pd.read_csv("../matplot/heart-disease.csv")
heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [60]:
X = heart.drop("target", axis=1)
X.head()
y = heart["target"]

In [61]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [62]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [63]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

In [64]:
from sklearn.metrics  import r2_score, mean_absolute_error, mean_squared_error,recall_score, accuracy_score, precision_score, f1_score

print("classifier metrics on test set")
print(F"Accuracy: {accuracy_score(y_test, y_pred)*100:.2f}%")
print(F"Precision: {precision_score(y_test, y_pred)}")
print(F"Recall: {recall_score(y_test, y_pred)}")
print(F"F1: {f1_score(y_test, y_pred)}")

classifier metrics on test set
Accuracy: 80.33%
Precision: 0.8055555555555556
Recall: 0.8529411764705882
F1: 0.8285714285714286

In [65]:
def evaluate_preds (y_train, y_pred) :
    accuracy = accuracy(y_train, y_pred)
    precission = precision_score(y_train, y_pred)
    recall = recall_score(y_train, y_pred)
    f1 = f1_score(y_train, y_pred)
    metric_dict = {"accuracy" : round(accuracy, 2),
                   "precision" : round(precission, 2),
                   "recall" : round(recall, 2),
                   "f1" : round(f1, 2)}
    print(f"accuracy: {accuracy*100:2f}%")
    print(f"precission: {precission:.2f}")
    print(f"recall: {recall:.2f}")
    return metric_dict

In [66]:
np.random.seed(42)
heartsfl = heart.sample(frac=1)
heart


X = heartsfl.drop("target", axis=1)
y = heartsfl["target"]

train_split = round(0.7 *len(heartsfl))
valid_split = round(train_split + 0.15 * len(heartsfl))
X_train ,y_train = X[:train_split], y[:train_split]
X_valid, y_valid = X[train_split:valid_split], y[train_split:valid_split]
X_test, y_test = X[valid_split:], y[:valid_split]
len(X_train), len(X_valid), len(X_test)


clf = RandomForestClassifier()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_valid)

In [67]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.ensemble import RandomForestClassifier
import numpy as np

def evaluate_preds(y_true, y_pred):
    accuracy = accuracy_score(y_true, y_pred)
    precision = precision_score(y_true, y_pred)
    recall = recall_score(y_true, y_pred)
    f1 = f1_score(y_true, y_pred)
    
    metric_dict = {"accuracy": round(accuracy, 2),
                   "precision": round(precision, 2),
                   "recall": round(recall, 2),
                   "f1": round(f1, 2)}
    
    print(f"Accuracy: {accuracy * 100:.2f}%")
    print(f"Precision: {precision:.2f}")
    print(f"Recall: {recall:.2f}")
    
    return metric_dict

# Set random seed for reproducibility
np.random.seed(42)

# Shuffle the dataset
heartsfl = heart.sample(frac=1)

# Split dataset into train, validation, and test sets
train_split = round(0.7 * len(heartsfl))
valid_split = round(train_split + 0.15 * len(heartsfl))

X_train, y_train = X[:train_split], y[:train_split]
X_valid, y_valid = X[train_split:valid_split], y[train_split:valid_split]
X_test, y_test = X[valid_split:], y[:valid_split]

# Initialize and train the RandomForestClassifier model
clf = RandomForestClassifier()
clf.fit(X_train, y_train)

# Make predictions on the validation set
y_pred = clf.predict(X_valid)

# Evaluate the model predictions
baseline_metrics = evaluate_preds(y_valid, y_pred)
print("F1:", baseline_metrics['f1'])

Accuracy: 82.22%
Precision: 0.81
Recall: 0.88
F1: 0.85

In [68]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [ ]:
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators....")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train,y_train)
    print(f"Model accuracy on test set:{clf.score(x_test, y_test)*100}")

Trying model with 10 estimators....

Model accuracy on test set:83.60655737704919
Trying model with 20 estimators....
Model accuracy on test set:81.9672131147541
Trying model with 30 estimators....
Model accuracy on test set:83.60655737704919
Trying model with 40 estimators....
Model accuracy on test set:85.24590163934425
Trying model with 50 estimators....
Model accuracy on test set:85.24590163934425
Trying model with 60 estimators....
Model accuracy on test set:88.52459016393442
Trying model with 70 estimators....
Model accuracy on test set:83.60655737704919
Trying model with 80 estimators....
Model accuracy on test set:85.24590163934425
Trying model with 90 estimators....
Model accuracy on test set:85.24590163934425

In [ ]:
import pickle
pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [ ]:
Model_1 =pickle.load(open ("random_forest_model_1.pkl", "rb"))
Model_1.score(x_test, y_test)

0.8524590163934426

In [ ]:
%matplotlib inline


heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
cars = pd.read_csv("car-sales-extended.csv")
cars

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]

In [ ]:
X = cars.drop("Price", axis=1)
Y = cars["Price"]
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
features = ["Make", "Colour", "Doors" ]
onehot = OneHotEncoder()
transformer = ColumnTransformer([("onehot",
                                  onehot,
                                  features)],
                                remainder = "passthrough")
transformed_x = transformer.fit_transform(X)

np.random.seed(42)
X_train, X_test, Y_train, Y_test = train_test_split(transformed_x, Y, test_size=0.2)
clf.fit(X_train, Y_train)
clf.score(X_test, Y_test)

0.0

In [ ]:
load